# --- Enviroment ---
ASPNETCORE_ENVIRONMENT=Development

# --- Connection Strings (PostgreSQL) ---
ConnectionStrings__Default=
ConnectionStrings__Hangfire=

# --- Projections (MongoDB) ---
Projections__Identity=
Projections__Organization=

# --- Authentication (Google) ---
Authentication__Google__ClientId=
Authentication__Google__ClientSecret=

# --- Event Bus (RabbitMQ) ---
EventBusOptions__ConnectionString=